body {
    background-color: black;
    color: white;
    font-family: "Arial";
}

a {
    text-decoration: none;
    color: inherit;
}

.wd-color-white {
    color: white;
}

.wd-color-110-118-125 {
    color: rgb(110, 118, 125);
}

.wd-color-gear {
    color: rgb(29,161,242);
}

.wd-bg-color-30-30-30 {
    background-color: rgb(30, 30, 30);
}

.wd-bg-color-40-40-40 {
    background-color: rgb(40, 40, 40);
}

.wd-font-size-13 {
    font-size: 13px;
}

.wd-font-size-15 {
    font-size: 15px;
}

.wd-font-bold {
    font-weight: bold;
}

.wd-padding-top-bottom-5 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.wd-border-left {
    border-left-color: rgb(47, 51, 54);
    border-left-style: solid;
    border-left-width: 1px;
}

.wd-border-right {
    border-right-color: rgb(47, 51, 54);
    border-right-style: solid;
    border-right-width: 1px;
}

.wd-border-top {
    border-top-color: rgb(47, 51, 54);
    border-top-style: solid;
    border-top-width: 1px;
}

.wd-border-bottom {
    border-bottom-color: rgb(47, 51, 54);
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.wd-margin-left-16 {
    margin-left: 16px;
}

.wd-margin-right-16 {
    margin-right: 16px;
}

.wd-margin-right-12 {
    margin-right: 12px;
}

.wd-padding-left-16 {
    padding-left: 16px;
}

.wd-padding-right-16 {
    padding-right: 16px;
}

.wd-padding-top-12 {
    padding-top: 12px;
}

.wd-padding-bottom-12 {
    padding-bottom: 12px;
}

.wd-border-radius {
    border-radius: 20px;
    border: none;
}

.wd-grid-done {
    clear: both;
}

.wd-float-left {
    float: left;
}

.wd-float-right {
    float: right;
}

.wd-input-text-box {
    height: 30px;
    width: 70%;
    font-size: 1em;
}

.wd-gear-size {
    font-size: 2em;
}

.wd-nav-tabs {
    color: rgb(110, 118, 125);
    padding: 0px;
    margin: 0px;
}

.wd-nav-tabs li {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    padding: 16px;
    width: 16%;
    box-sizing: border-box;
}

.wd-nav-tabs .wd-selected {
    color: rgb(29,161,242);
    border-bottom: solid 4px rgb(29,161,242);
}

.wd-picture-size {
    width: 100px;
    height: 100px;
}

.wd-height-20 {
    height: 20px;
}