.wd-font-size-9 {
    font-size: 9px;
}

.wd-font-size-25 {
    font-size: 25px;
}

.wd-search-twitter {
    left: 30px;
    top: 12px;
}

.wd-spacex {
    left: 10px;
    bottom: 5px;
}

.wd-no-wrap {
    white-space: nowrap;
}